<?xml version="1.0"?>
<bATRConfig caching="false" cacheExpiration="300" replaceImagesOnPrint="true" clientCacheExpiration="7" imagePath="~/bATRCache" bATREnginePath="~/bATR/">
	<admin>
		<username>bart</username>
		<password>bdv</password>
	</admin>
	<themes> 
		
		<theme name="default" defaultFontName="Myriad Pro" defaultFontStyle="Normal" defaultFontWeight="Bold" defaultFontStretch="Normal" >
			<style name="h1" headerHtmlTag="h1" fontSize="19" fontColor="#ffffff"  bgColor="#a0bf36" textToUpper="true" />
      <style name="h2" headerHtmlTag="h2" fontSize="14" fontColor="#ffffff" bgColor="#a0bf36" textToUpper="true" />
      <style name="g2lg_h2" headerHtmlTag="h2" fontSize="18" fontColor="#2D3331" bgColor="#e3e3e3" textToUpper="true" />
      <style name="button" fontSize="16" fontColor="#ffffff"  bgColor="#a0bf36" textToUpper="false" align="center" />

    </theme>
		

		<theme name="theme02" defaultFontName="Symbol" defaultFontStyle="Normal" defaultFontWeight="Normal" defaultFontStretch="Normal">
			<style name="c2w_h2" fontSize="18" fontColor="#04aeef" bgColor="#ffffff" fontName="Arial" />
			<style name="g2w_h2" fontSize="18" fontColor="#2D3331" bgColor="#ffffff" />
  
			<style name="g2lg_h2" fontSize="18" fontColor="#2D3331" bgColor="#e3e3e3" />
			<style name="c2lg_h2" fontSize="18" fontColor="#04aeef" bgColor="#e3e3e3" fontName="Arial" />
		</theme>

		
		<theme name="theme03" defaultFontName="Wingdings 2" defaultFontStyle="Normal" defaultFontWeight="Normal" defaultFontStretch="Normal">
			<style name="c2w_h2" fontSize="20" fontColor="#6495ED" bgColor="#ffffff" renderedImageWidth="50" renderedImageHeight="50" />
			<style name="g2g_h2" fontSize="20" fontColor="#6495ED" bgColor="#e3e3e3" />
		</theme>
		
	</themes>
</bATRConfig>